.header__user-panel_active {
  padding: 40px 0;
  transition: all 0.5s ease;
  display: flex;
  position: static;
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .header__user-panel_active {
    display: none;
  }
}
