.register__submit-button {
  background: #ffffff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 88px;
  cursor: pointer;
  margin-top: auto;
}
.register__submit-button:hover {
  opacity: 0.85;
}
@media screen and (max-width: 767px) {
  .register__submit-button {
    padding: 14px 35px;
  }
}
