.register__submit-button {
  background: #ffffff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 88px;
  margin-top: auto;
}
